@model List<ReservationViewModel>
@{
    ViewData["Title"] = "Reservations";
    var roomInfo = ViewBag.RoomInfo as Dictionary<int, string>;
    var personInfo = ViewBag.PersonInfo as Dictionary<int, string>;
}

<div class="w-full flex justify-center">
    <h1 class="text-4xl text-center m-4 p-2 border-b w-1/2">Reservas</h1>
</div>

<div class="w-full flex justify-end mb-4">
    <a href="@Url.Action("NewReservation", "Reservation")" class="bg-blue-500 text-white py-2 px-4 rounded-lg text-lg shadow-lg hover:bg-blue-700 transition duration-300">New Reservation</a>
</div>

<div class="overflow-x-auto">
    <table class="table-auto w-full border-collapse">
        <thead>
            <tr>
                <th class="border px-4 py-2">Ação</th>
                <th class="border px-4 py-2">Está Pago?</th>
                <th class="border px-4 py-2">Pessoa que Reservou</th>
                <th class="border px-4 py-2">ID do Quarto</th>
                <th class="border px-4 py-2">Tipo do Quarto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-person-id="@item.PersonID">
                    <td class="border px-4 py-2">
                        <button class="button" onclick="deleteReservation(@item.Id)">Deletar Reserva</button>
                    </td>
                    <td class="border px-4 py-2">
                        @item.IsPaid.ToString()
                    </td>

                    <td class="border px-4 py-2 person-name">
                    </td>

                    <td class="border px-4 py-2">
                        @item.RoomID
                    </td>
                    <td class="border px-4 py-2">
                        @roomInfo[item.RoomID]
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('.person-name').each(function () {
            var personId = $(this).closest('tr').data('person-id');
            var personNameCell = $(this);
            $.ajax({
                url: '@Url.Action("GetPersonNameById", "Reservation")',
                type: 'GET',
                data: { id: personId },
                success: function (response) {
                    personNameCell.text(response.personName);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching person name: ' + error);
                }
            });
        });
    });


    function deleteReservation(id){
        location.href = "/Reservation/Delete?id=" + id + "&id_route=ReservationID";
    }
</script>
